.App {
  /* text-align: center; */
  font-family:sans-serif;
  background-color: black;
  color: #FFF;
  font-family: serif;
}



.portfolio-container{
  display: flex;
  align-items: center;
  text-align: center;
  width: 1120px;
  margin: 20px auto ;
}


.portfolio-container img{
  margin: 10px;
}

.portfolio-container img:hover{
  cursor: pointer;
  opacity: 0.5;  /* Opacity for Modern Browsers */
  filter: alpha(opacity=50);  /* Opacity for IE8 and lower */
  zoom: 1;  /* Fix for IE7 */
}

.left, .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.left img, .right img{
  width:538px;
  height:100px;
  object-fit: contain;
  margin: 10px 20px 20px 10px;
}


.netflastinate, .covid, .fashun, .calorie{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto auto 30px auto;
  padding: 90px auto;
  border-bottom: 8px solid #222;
  height: 100vh;
}



.youtubeContainer{
  display: flex;
  width: fit-content;
  margin: 50px auto;
}

iframe {
  margin: 10px;
}

.links {
  display: flex;
}
.title {
  display:none;
}


.blank{
  width: 1200px;
  height: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.173);
}

.portfolio-container img, .title img {
  border: 1px white solid;
}

iframe{
  width:555px;
  height:330px;
}


.netflastinate .appDetail, .fashun .appDetail{
  /* border: 1px solid white; */
  width: 650px;
  height: fit-content;
  text-align: left;
  padding-right: 48px;
}

.thumbnailContainer{
  display: flex;
}


.thumbnails{
  width: 300px;
  border: 1px solid rgb(194, 193, 193);
  margin: 100px 20px auto auto;
  object-fit: contain;
  /* -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%); */
}

.thumbnails2{
  width: 800px;
  border: 1px solid rgb(194, 193, 193);
  position: absolute;
  left: 25%;
  top: 90%;
}

.thumbnails:hover{
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none; 
  transform: scale(3) translateX(20%) translateY(-30%);
  transition: .3s ease-in-out;
  object-fit: contain;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;/* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;/* IE (non-standard property) */
}

.covid .appDetail, .calorie .appDetail{
  width: 650px;
  height: 330px;
  text-align: left;
  padding-left: 48px;
}

.appName{
  margin-top: 20px;
  font-size: 40px;
  font-weight: bolder;
}

.description{
  font-size: 20px;
}

.skillUsed{
  padding:0;
}

.skillUsed li{
  display: inline-block;
  background-color: #202022;
  font-size: 20px;
  border-radius: 6px;
  padding: 4px 10px;
  margin: 30px 5px 0 0;
  text-transform: lowercase;
}

.sources{
  display: flex;
  /* flex-direction: column; */
  font-size: 20px;
}

.sources a{
  background-color: #202022;
  color: white;
  padding:10px 30px;
  text-decoration: none;
  margin: 30px 15px 0 0;
  width: fit-content;
  font-weight: bold;
}

.sources a:hover{
  background-color: #fff;
  color: #202022;
}


@media screen and (max-width: 540px) {
  body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .navBar {
   height: 30px;
}

.myName {
  margin: 50px auto;
  align-items: center;
  text-align: center;
  width: fit-content;
}
.name {
  font-size: 40px;
  margin: 20px auto;
}
.whoAmI {
  margin: 20px auto;
}
.language {
  margin: 10px auto;
}

.intro {
  margin: 20px auto;
  width: 320px;
}

.socials {
  margin: 30px auto;
  width: fit-content;
  padding: auto;
}

.socials img{
  width: 53px;
  margin: 0 10px 0 10px;
}

.techStack{
  margin: 10px auto;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 295px;
  border-radius: 5px;
  font-size: 62px;
}

.techStack i{
  /* border:1px solid rgb(96, 94, 94); */
  margin: 15px;
  border-radius: 5px;
  padding:3px;
}

.homeName{
  display: none;
}

.navLink {
  margin: 30px auto;
}
.portfolio-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 300px;
}

.left img, .right img{
  width: 300px;
  height: 100px;
  margin: 12px auto;
}

.youtubeContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 500px;
}

.netflastinate, .covid, .fashun, .calorie{
  width: 500px;
}

.title {
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.title img{
  width:300px;
  height: 150px;
}



iframe {
  width:300px;
  height:200px;
  margin: auto auto 50px auto;
}

.description{
  display: none;
}

.icon img {
  width: 80px;
  height: 80px;
  margin: 30px 13px 20px 13px;
  border-radius: 5px;
  border: 1px white solid;
}

.skillUsed {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  margin: auto;
  text-align: center;
}

.appName, .description, .sources{
  display: none;
}

}

@media screen and (min-width: 540px) and (max-width: 900px) {
.techStack {
    margin: 20px 0 0 100px;
    display: flex;
    border-radius: 5px;
    font-size: 62px;
}

i {
  font-size: 50px;
  margin: 12px 12px 12px 0
}

.socials img {
  margin: 0 15px 0 5px;
  border-radius: 5px;
  width: 55px;
}
.portfolio-container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: fit-content;
}

.youtubeContainer {
  display: flex;
  flex-direction: column-reverse;
  width: fit-content;
  align-items: center;
  margin:0;
}

.fashun, .netflastinate, .calorie, .covid {
  width: fit-content;
}

.appDetail {
  margin-bottom: 30px;
}
}