.App {
  /* text-align: center; */
  font-family:sans-serif;
  background-color: black;
  color: #FFF;
  font-family: serif;
}


.navBar {
  background-color:black;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px solid white;
}

link{
  cursor: pointer;
}


.navBar a {
  color: #FFF;
  text-decoration: none;
  margin: 10px;
}



.homeName, .navLink {
 margin: 30px;
 color: white;
}

.home {
  display: flex;
  flex-direction: column;
  border-bottom: 8px solid #222;
}
.myName {
  margin: auto;
  background-color: black;
  color: white;
  width: 1167px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 70px;
  margin: 0;
  font-weight: bolder;
  font-family: 'Do Hyeon', sans-serif;
}

.whoAmI {
 margin: 100px 30px 0 0;
 font-weight: 300;
 font-size: 24px;
 color: #fff089;
 font-family: 'Do Hyeon', sans-serif;
}

.intro{
  margin: 30px 30px 0 0;
  font-size: 20px;
  color: rgb(201, 199, 199);
}

.socials{
  margin: 50px 0 0 0;
  display:flex;
  width: 240px;
  border-radius: 5px;
}

.socials img{
  margin: 0 15px 0 0;
  border-radius: 5px;
  width: 65px;
}

.socials a:hover{
  cursor: pointer;
  opacity: 0.5;  /* Opacity for Modern Browsers */
  filter: alpha(opacity=50);  /* Opacity for IE8 and lower */
  zoom: 1;  /* Fix for IE7 */
}

.techStack{
  margin: 20px 0 30px 0;
  display:flex;
  width: fit-content;
  border-radius: 5px;
  font-size: 62px;
}

.techStack i{
  /* border:1px solid rgb(96, 94, 94); */
  margin-right: 12px;
  border-radius: 5px;
  padding:4px;
}

.language {
  margin: 30px 30px 0 0;
  font-weight: 300;
  font-size: 22px;
 }

 

.portfolio-container{
  display: flex;
  align-items: center;
  text-align: center;
  width: 1120px;
  margin: 20px auto ;
}


.portfolio-container img{
  margin: 10px;
}

.portfolio-container img:hover{
  cursor: pointer;
  opacity: 0.5;  /* Opacity for Modern Browsers */
  filter: alpha(opacity=50);  /* Opacity for IE8 and lower */
  zoom: 1;  /* Fix for IE7 */
}

.left, .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.left img, .right img{
  width:538px;
  height:100px;
  object-fit: contain;
  margin: 10px 20px 20px 10px;
}


.netflastinate, .covid, .fashun, .calorie{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto auto 30px auto;
  padding: 90px auto;
  border-bottom: 8px solid #222;
}



.youtubeContainer{
  display: flex;
  width: fit-content;
  margin: 50px auto;
}

iframe {
  margin: 10px;
}

.links {
  display: flex;
}
.title {
  display:none;
}


.blank{
  width: 1200px;
  height: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.173);
}

.portfolio-container img, .title img {
  border: 1px white solid;
}

iframe{
  width:555px;
  height:330px;
}


.netflastinate .appDetail, .fashun .appDetail{
  /* border: 1px solid white; */
  width: 540px;
  height: fit-content;
  text-align: left;
  padding-right: 48px;
}

.thumbnailContainer{
  display: flex;
}
.thumbnails{
  width: 600px;
  border: 1px solid rgb(194, 193, 193);
  margin: 100px 20px auto auto;
}

.covid .appDetail, .calorie .appDetail{
  width: 540px;
  height: 330px;
  text-align: left;
  padding-left: 48px;
}

.appName{
  margin-top: 20px;
  font-size: 40px;
  font-weight: bolder;
}

.description{
  font-size: 20px;
}
.skillUsed{
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.sources{
  display: flex;
  /* flex-direction: column; */
  font-size: 20px;
}

.sources a{
  color: #fff089;
  text-decoration:underline;
  margin: 30px 15px 0 0;
  width:fit-content;
  font-weight: bold;
}


@media screen and (max-width: 540px) {
  body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .navBar {
   height: 30px;
}

.myName {
  margin: 50px auto;
  align-items: center;
  text-align: center;
  width: fit-content;
}
.name {
  font-size: 40px;
  margin: 20px auto;
}
.whoAmI {
  margin: 20px auto;
}
.language {
  margin: 10px auto;
}

.intro {
  margin: 20px auto;
  width: 320px;
}

.socials {
  margin: 30px auto;
  width: fit-content;
  padding: auto;
}

.socials img{
  width: 53px;
  margin: 0 10px 0 10px;
}

.techStack{
  margin: 10px auto;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 295px;
  border-radius: 5px;
  font-size: 62px;
}

.techStack i{
  /* border:1px solid rgb(96, 94, 94); */
  margin: 15px;
  border-radius: 5px;
  padding:3px;
}

.homeName{
  display: none;
}

.navLink {
  margin: 30px auto;
}
.portfolio-container {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 300px;
}

.left img, .right img{
  width: 300px;
  height: 100px;
  margin: 12px auto;
}

.youtubeContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 500px;
}

.netflastinate, .covid, .fashun, .calorie{
  width: 500px;
}

.title {
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.title img{
  width:300px;
  height: 150px;
}



iframe {
  width:300px;
  height:200px;
  margin: auto auto 50px auto;
}

.description{
  display: none;
}

.icon img {
  width: 80px;
  height: 80px;
  margin: 30px 13px 20px 13px;
  border-radius: 5px;
  border: 1px white solid;
}

.skillUsed {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  margin: auto;
  text-align: center;
}

.appName, .description, .sources{
  display: none;
}

}

@media screen and (min-width: 540px) and (max-width: 900px) {
.techStack {
    margin: 20px 0 0 100px;
    display: flex;
    border-radius: 5px;
    font-size: 62px;
}

i {
  font-size: 50px;
  margin: 12px 12px 12px 0
}

.socials img {
  margin: 0 15px 0 5px;
  border-radius: 5px;
  width: 55px;
}
.portfolio-container {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: fit-content;
}

.youtubeContainer {
  display: flex;
  flex-direction: column-reverse;
  width: fit-content;
  align-items: center;
  margin:0;
}

.fashun, .netflastinate, .calorie, .covid {
  width: fit-content;
}

.appDetail {
  margin-bottom: 30px;
}
}