.App {
  /* text-align: center; */
  font-family:sans-serif
}


.navBar {
  background-color:black;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  /* color: white; */
  border-bottom: 1px solid black;
}

link{
  cursor: pointer;
}


.navBar a {
  color: #FFF;
  text-decoration: none;
  margin: 10px;
}

/* a:hover {
  font-weight: bold;
} */

.homeName, .navLink {
 margin: 10px;
 color: white;
}

.title {
  font-size: 50px;
  margin: 30px;
}

.whoAmI {
 margin: 30px 30px 30px 60px;
 font-weight: 300;
}

.myName {
  margin: 100px auto;
  background-color: black;
  color: white;
  height: 500px;
}

.portfolio-container{
  display: flex;
  align-items: center;
  text-align: center;
  width: 1220px;
  margin: 20px auto 0 ;
}


.portfolio-container img{
  margin: 10px;
}

.portfolio-container img:hover{
  cursor: pointer;
  opacity: 0.5;  /* Opacity for Modern Browsers */
  filter: alpha(opacity=50);  /* Opacity for IE8 and lower */
  zoom: 1;  /* Fix for IE7 */
  
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}


.netflastinate, .covid, .fashun, .calorie{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 1220px;
  margin: auto;
}
.youtubeContainer{
  display: flex;
  width: 1220px;
}

iframe {
  margin: 10px;
}

.links {
  display: flex;
}

/* .links a {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px;
} */

.title {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.icon img {
  width: 120px;
  margin-top: 10px;
  border-radius: 5px;
}


.blank{
  width: 1200px;
  height: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.173);
}